<!-- About-2 tänne kirjataan kaikki erityiset osaamiset & sähköasennus tyyppit mitä on tehty ennen ja jne. -->
<h1>Erityiset osaamiset</h1>
<div class="w3-row w3-border">
  <div class="w3-third w3-container">
    <h2>IT taidot</h2>  
    <ul>
      <li>C#</li>
      <li>Kotlin</li>
      <li>HTML-CSS-JS</li>
      <li>Python</li>
    </ul>
  </div>

  <div class="w3-third w3-container">
    <h2>Softwares</h2>
    <ul>
      <li>Android & Visual Studio</li>
      <li>Cisco Packe Tracer</li>
      <li>Putty</li>
      <li>Ubuntu</li>
      <li>CLI (komentorivi)</li>
    </ul>
  </div>
    <div class="w3-third w3-container">
      <h2>Hardware tools</h2>
      <ul>
        <li>Cisco ja muu reititys WAN/LAN/WLAN</li>
        <li>Network cable cat 5/6/7</li>
        <li>Arduino</li>
        <li>IBM Watson</li>
      </ul>
    </div>
</div>

<br>

<!-- oma rivi row padding layout-->
<!--
<div class="w3-row-padding">
  <div class="w3-col s4">
    <div class="w3-container w3-red w3-cell w3-mobile">
      <p>Hello W3.CSS Layout.</p>
      <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
    </div>
  </div>

<div class="w3-col s4">
  <div class="w3-container w3-green w3-cell w3-mobile">
    <p>Hello W3.CSS Layout.</p>
    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
  </div>
</div>

<div class="w3-col s4">
  <div class="w3-container w3-blue w3-cell w3-mobile">
    <p>Hello W3.CSS Layout. Hello W3.CSS Layout.</p>
    <p>Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
  </div>
</div>


</div>-->


<!-- Collapsible Set: START HERE -->
<style>

/*default color */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 9px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/*user touch panel change color */
.active, .collapsible:hover {
  background-color: #555; 
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

</style>

<button type="button" class="collapsible">IT Frameworkit, kirjastot, sovellukset ja muu työkalut</button>
<!--
<div class="content">
  <ul>
    <li>Apache</li>
    <li>Nodejs</li>
    <li>Threejs</li>
    <li>Nginx</li>
    <li>VMware Horizon</li>
    <li>MySQL</li>
  </ul>
</div>
-->

<div class="content">
  <div class="w3-row w3-border">

    <div class="w3-third w3-container">
      <ul>
        <li>Django</li>
        <li>.NET C#</li>
        <li>Unity C#</li>
        <li>Android</li>
        <li>Jquery</li>
      </ul>
    </div>

    <div class="w3-third w3-container">
      <ul>
        <li>Apache</li>
        <li>Nginx</li>
        <li>Putty</li>
        <li>VMware</li>
      </ul>
    </div>

      <div class="w3-third w3-container">
        <ul>
          <li>Threejs</li>
          <li>Nodejs</li>
          <li>Linux</li>
          <li>Cmd/powershell </li>
          <li>Microsoft Office</li>
        </ul>
      </div>

      <div class="w3-third w3-container">
        <ul>
          <b>Videon toisto tyypit verkkosivuille</b>
          <li>Videojs</li>
          <li>JWplayer</li>
          <li>Mediaelementjs</li>
          <li>Fluidplayer</li>
        </ul>
      </div>

  </div>
</div>

<!-- Sähkärien taidot -->
<h1>Sähköasentajana</h1>
<div class="content-2">
  <div class="w3-row w3-border">

    <dt>Olen työskenteleyt monipuolisia sähkötyötä mm. asennusta ja kunnossapitoa. Työmaa työskentelyt tapahtuvat sisä- ja ulkotyönnä. </dt>

      <div class="w3-third w3-container">
        <ul>
          <li>Maa- ja ilmakaapelointi</li>
          <li>Pisto-, tele- ja anteenirasioita & atk-räkki ja Ethernet kaapelit </li>
          <li>Poistumisreittin, sisä- ja ulkovalaisin</li>
          <li>Kalustaminen</li>
          <li>autolämmityspistorasia</li>
          <li>Sähkö piirroskuvat/tasokuva</li>
        </ul>
      </div>
  
  </div>
</div>

<!-- Koulutuksesta -->
<h1> Koulutus </h1>
<div class="w3-row w3-border">
  <div class="w3-third w3-container">
    <h2>HAMK</h2>
    <b>Hämeen ammattikorkeakoulu </b>
    <p>Tieto- ja viestintätekniikka 1/2018 - jatkuu </p>
    <p>Lisää tietoa tutkinnosta: <a href="https://www.hamk.fi/amk-tutkinto/tieto-ja-viestintatekniikka-insinoori-amk/" target="_blank">Tieto- ja viestintätekniikka insinööri (amk) </a><p>
  </div>

  <div class="w3-third w3-container">
    <h2>Stadin Ammattiopisto</h2>
      <p>Sähkö- ja automaatiotekniikan perusteet 8/2012 - 6/2015</p>
      <p>Ennen oli <i>Heltech</i></p>
      <p>Lisää tietoa tutkinnosta: <a href="https://stadinao.fi/perustutkinnot/sahko-ja-automaatioalan-perustutkinto/" target="_blank">Stadin AO perustutkinto</a><p>
  </div>

</div>


<script>
//Collapsible script 
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

</script>
