<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>

.fa {
  padding: 12.5px;
  font-size: 20px;
  width: 75px;
  text-align: center;
  text-decoration: none;
  margin: 12.5px 20px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #000000;
  color: white;
}

</style>

<p style="text-align:center;">Ota yhteyttä <br>
<a href="zhao-96@hotmail.com">zhao-96@hotmail.com</a></p>

<p class="text-center text-muted">&copy; Copyright 2018 - 2021 Pälä pälä</p>
<!-- copy right blah blah -->

<!-- social media logo & icons-->
<div style="text-align: center">
  <a href="https://www.linkedin.com/in/zhao-tan-3b5b18158/" target="_blank" class="fa fa-linkedin"></a>

  <a href="https://github.com/zhaotan18x" target="_blank"><i class="fa fa-github fa-5x" aria-hidden="true"></i></a>

</div>
