<style>

</style>

<!-- Nav bar blah blah -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <!--Home icon kotisivu -->
  
  <a class="navbar-brand" href="/">ZT<br><i class="bi bi-house-door-fill">
  </i></a>

  <!--Navbar supistuu burgeriksi, -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>  
  
  <div id="navbarCollapse" class="collapse navbar-collapse">
  <ul class="navbar-nav mr-auto">
    
    <li class="nav-item">
      <a class="nav-link" href="/index.html">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/path/about.html">About</a>
    </li>

    <!--Skills drop menu buttons -->
    <div class="btn-group">
      <a class="nav-link "href="/path/skills.html">Skills</a>
        <button class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
        </button>

      <ul class="dropdown-menu">
        <!-- dropdown menu links -->
        <a class="dropdown-item" href="/hamk">HAMK</a>
        <a class="dropdown-item" href="/amis">Amis</a>
      </ul>

    </div> <!-- Skills drop menu ENDS HERE-->

    <li class="nav-item">
      <a class="nav-link" href="/path/blog.html">Blog</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/path/contract.html">Contract</a>
    </li>
    
    <!--Muu -->
    <li class="nav-item">
      <a class="nav-link" href="/other">Other</a>
    </li>

  </ul> <!-- ul navbar mr-auto ENDS HERE -->

  </div> <!--navbarCollapse ENDS HERE -->

</div> <!--Container ENDS HERE -->

</nav> <!-- Nav bar  blah blah ENDS HERE -->
