<style>

</style>

<!-- Nav bar blah blah -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <!--Home icon kotisivu -->
  
  <a class="navbar-brand" href="/">ZT<br><i class="bi bi-house-door-fill">
  </i></a>

  <!--Navbar supistuu burgeriksi, -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>  
  
  <div id="navbarCollapse" class="collapse navbar-collapse">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/about">About</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/blog">Blog</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/contract">Contract</a>
    </li>

    <!-- Skills drop menu-->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/skills" aria-haspopup="true" aria-expanded="false">Skills</a>

      <ul class="sub nav-item">
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/skills">IT Stats</a>
          <a class="dropdown-item" href="/hamk">HAMK</a>
          <a class="dropdown-item" href="/amis">Amis</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://www.hamk.fi/" target="_blank">HAMK ICT tutkinto</a>

        </div>
      </ul>
      
    </li> <!-- Skills drop menu ENDS HERE-->
    
    <!--Muu -->
    <li class="nav-item">
      <a class="nav-link" href="/other">Other</a>
    </li>

  </ul> <!-- ul navbar mr-auto ENDS HERE -->

  </div> <!--navbarCollapse ENDS HERE -->

</div> <!--Container ENDS HERE -->

</nav> <!-- Nav bar  blah blah ENDS HERE -->
