<!-- Tämä on työharjoittelu blog sivuston oma gallery teksti alue ja täällä on gallery show -->
<h3>Työharjoittelu galleria elokuu - lokakuu </h3>
<p>Työharjoittelu kuvista  vain lyhyesti, että mitä on tapahtunut työharjoittelun aikana. </p>
<b>Kuva suurennee, kun klikkaa siihen, ja alhaalla on pieni kuvaus teksti </b>

    <!-- eka kuva -->
    <a href="#img1">
        <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/android-1.jpg">
    </a>
    <!-- lightbox container hidden with CSS -->
    <div class="lightbox" id="img1">
        <a href="#img3" class="light-btn btn-prev">prev</a>
            <a href="#_" class="btn-close">X</a>
            <img src="../images/tyoharjoittelu_kuvat/kansio/android-1.jpg">
        
      <!-- Suurennetun kuvan pieni otsikko/kuvaus -->
      <div id="selostus1">
        <span class="third strike">Video editointi</span>
      </div>
        
        <a href="#img2" class="light-btn btn-next">next</a>
    </div>

    <!-- toinen kuva -->
    <a href="#img2">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/android-2.jpg">
    </a>
    <!-- lightbox container hidden with CSS -->
    <div class="lightbox" id="img2">
      <a href="#img1" class="light-btn btn-prev">prev</a>
        <a href="#_" class="btn-close">X</a>
          <img src="../images/tyoharjoittelu_kuvat/kansio/android-2.jpg ">
        <a href="#img3" class="light-btn btn-next">next</a>
    </div>

    <!-- kolmas kuva -->
    <a href="#img3">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/android-3.jpg">
    </a>
    <!-- lightbox container hidden with CSS -->
    <div class="lightbox" id="img3">
        <a href="#img2" class="light-btn btn-prev">prev</a>
            <a href="#_" class="btn-close">X</a>
            <img src="../images/tyoharjoittelu_kuvat/kansio/android-3.jpg">
        <a href="#img4" class="light-btn btn-next">next</a>
    </div>

    <!-- Neljäs kuva -->
    <a href="#img4">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/android-4.jpg">
    </a>

    <div class="lightbox" id="img4">
      <a href="#img3" class="light-btn btn-prev">prev</a>
        <a href="#_" class="btn-close">X</a>
         <img src="../images/tyoharjoittelu_kuvat/kansio/android-4.jpg">
        
      <!-- Suurennetun kuvan pieni otsikko/kuvaus -->
      <div id="selostus1">
        <span class="third strike">Julkaisu, android sovelluksen näytöllä</span>
      </div>
        
        <a href="#img1" class="light-btn btn-next">next</a>
    </div>
