<!-- Tämä on työharjoittelu blog sivuston oma gallery teksti alue ja täällä on gallery show -->

<!-- mainoksen tässä pitää huomioida, että onko kuva ensimmäinen vai mones, koska edellinen kuva voi olla x ja seuraava on y, tai aloittaa alusta. 
Kuvalla pitää olla aina id.
-->
<h3>Työharjoittelu galleria elokuu - lokakuu </h3>
<p>Työharjoittelu kuvista vain lyhyesti, että mitä on tapahtunut työharjoittelun aikana. </p>
<b>Klikkaa kuvaa suuremmaksi & sisältyen kuvaus</b>
<br>

    <!-- Android kuvat START HERE-->
    <!-- 1. -->
    <a href="#img1">
        <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/android-1.jpg">
    </a>
    <!-- lightbox container hidden with CSS -->
    <div class="lightbox" id="img1">
        <a href="#img5" class="light-btn btn-prev">prev</a>
            <a href="#_" class="btn-close">X</a>
            <img src="../images/tyoharjoittelu_kuvat/kansio/android-1.jpg">
        
      <!-- Suurennetun kuvan pieni otsikko/kuvaus -->
      <div id="selostus1">
        <span class="third strike">Video editointi</span>
      </div>
        
        <a href="#img2" class="light-btn btn-next">next</a>
    </div>

    <!-- 2. -->
    <a href="#img2">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/android-2.jpg">
    </a>
    <!-- lightbox container hidden with CSS -->
    <div class="lightbox" id="img2">
      <a href="#img1" class="light-btn btn-prev">prev</a>
        <a href="#_" class="btn-close">X</a>
          <img src="../images/tyoharjoittelu_kuvat/kansio/android-2.jpg ">
        <a href="#img3" class="light-btn btn-next">next</a>
    </div>
    
    <!-- 3. -->
    <a href="#img3">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/android-3.jpg">
    </a>
    <!-- lightbox container hidden with CSS -->
    <div class="lightbox" id="img3">
        <a href="#img2" class="light-btn btn-prev">prev</a>
            <a href="#_" class="btn-close">X</a>
            <img src="../images/tyoharjoittelu_kuvat/kansio/android-3.jpg">
        <a href="#img4" class="light-btn btn-next">next</a>
    </div>

    <!-- 4. -->
    <a href="#img4">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/android-4.jpg">
    </a>

    <div class="lightbox" id="img4">
      <a href="#img3" class="light-btn btn-prev">prev</a>
        <a href="#_" class="btn-close">X</a>
         <img src="../images/tyoharjoittelu_kuvat/kansio/android-4.jpg">
        
      <!-- Suurennetun kuvan pieni otsikko/kuvaus -->
      <div id="selostus1">
        <span class="third strike">Julkaisu, android sovelluksen näytöllä</span>
      </div>
        <a href="#img5" class="light-btn btn-next">next</a>
    </div>

    <!-- Crane playerit kuva START HERE-->
    <!-- 5. -->
    <a href="#img5">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/crane-player-1.jpg">
    </a>
    <!-- lightbox container hidden with CSS & match the images id -->
    <div class="lightbox" id="img5">
        <a href="#img4" class="light-btn btn-prev">prev</a>
          <a href="#_" class="btn-close">X</a>
            <img src="../images/tyoharjoittelu_kuvat/kansio/crane-player-1.jpg">
        
      <!-- Suurennetun kuvan pieni otsikko/kuvaus -->
      <div id="selostus1">
        <span class="third strike">Näyttö uudelleen käynnistyy</span>
      </div>

        <a href="#img6" class="light-btn btn-next">next</a>
    </div>

    <!-- 6. -->
    <a href="#img6">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/crane-player-2.jpg">
    </a>
    <!-- lightbox container hidden with CSS & match the images id -->
    <div class="lightbox" id="img6">
        <a href="#img5" class="light-btn btn-prev">prev</a>
          <a href="#_" class="btn-close">X</a>
            <img src="../images/tyoharjoittelu_kuvat/kansio/crane-player-2.jpg">
        
        <a href="#img7" class="light-btn btn-next">next</a>
    </div>

    <!-- 7. -->
    <a href="#img7">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/crane-player-3.jpg">
    </a>
    <!-- lightbox container hidden with CSS & match the images id -->
    <div class="lightbox" id="img7">
        <a href="#img6" class="light-btn btn-prev">prev</a>
          <a href="#_" class="btn-close">X</a>
            <img src="../images/tyoharjoittelu_kuvat/kansio/crane-player-3.jpg">
        
        <a href="#img8" class="light-btn btn-next">next</a>
    </div>

    <!-- 8. -->
    <a href="#img8">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/crane-player-4.jpg">
    </a>
    <!-- lightbox container hidden with CSS & match the images id -->
    <div class="lightbox" id="img8">
        <a href="#img7" class="light-btn btn-prev">prev</a>
          <a href="#_" class="btn-close">X</a>
            <img src="../images/tyoharjoittelu_kuvat/kansio/crane-player-4.jpg">

      <!-- Suurennetun kuvan pieni otsikko/kuvaus -->
      <div id="selostus1">
        <span class="third strike">Mainos alkaa pelittää</span>
      </div>
        
        <a href="#img9" class="light-btn btn-next">next</a>
    </div>

    <!-- 9. -->
    <a href="#img9">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/crane-player-5.jpg">
    </a>
    <!-- lightbox container hidden with CSS & match the images id -->
    <div class="lightbox" id="img9">
        <a href="#img8" class="light-btn btn-prev">prev</a>
          <a href="#_" class="btn-close">X</a>
            <img src="../images/tyoharjoittelu_kuvat/kansio/crane-player-5.jpg">

      <!-- Suurennetun kuvan pieni otsikko/kuvaus -->
      <div id="selostus1">
        <span class="third strike">Mainos resoluutio on oikein, vain pitää säätää takaisin oikeseen asentoon</span>
      </div>
        
        <a href="#img1" class="light-btn btn-next">next</a>
    </div>

    <!-- Dev player START HERE-->
    <!-- 10. --> 
    <a href="#img10">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/dev-player-1.jpg">
    </a>
    <!-- lightbox container hidden with CSS & match the images id -->
    <div class="lightbox" id="img10">
        <a href="#img9" class="light-btn btn-prev">prev</a>
          <a href="#_" class="btn-close">X</a>
            <img src="../images/tyoharjoittelu_kuvat/kansio/dev-player-1.jpg">

      <!-- Suurennetun kuvan pieni otsikko/kuvaus -->
      <div id="selostus1">
        <span class="third strike">Linux komentoliittymä ja tiedostot</span>
      </div>
        
        <a href="#img11" class="light-btn btn-next">next</a>
    </div>

    <!-- 11. --> 
    <a href="#img11">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/dev-player-2.jpg">
    </a>
    <!-- lightbox container hidden with CSS & match the images id -->
    <div class="lightbox" id="img11">
        <a href="#img10" class="light-btn btn-prev">prev</a>
          <a href="#_" class="btn-close">X</a>
            <img src="../images/tyoharjoittelu_kuvat/kansio/dev-player-2.jpg">

      <!-- Suurennetun kuvan pieni otsikko/kuvaus -->
      <div id="selostus1">
        <span class="third strike">Laite käynnistyy</span>
      </div>
        
        <a href="#img12" class="light-btn btn-next">next</a>
    </div>

    <!-- 12. --> 
    <a href="#img12">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/dev-player-3.jpg">
    </a>
    <!-- lightbox container hidden with CSS & match the images id -->
    <div class="lightbox" id="img12">
        <a href="#img11" class="light-btn btn-prev">prev</a>
          <a href="#_" class="btn-close">X</a>
            <img src="../images/tyoharjoittelu_kuvat/kansio/dev-player-3.jpg">

        <a href="#img13" class="light-btn btn-next">next</a>
    </div>

    <!-- 13. --> 
    <a href="#img13">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/dev-player-4.jpg">
    </a>
    <!-- lightbox container hidden with CSS & match the images id -->
    <div class="lightbox" id="img13">
        <a href="#img12" class="light-btn btn-prev">prev</a>
          <a href="#_" class="btn-close">X</a>
            <img src="../images/tyoharjoittelu_kuvat/kansio/dev-player-4.jpg">

      <!-- Suurennetun kuvan pieni otsikko/kuvaus -->
      <div id="selostus1">
        <span class="third strike">Ubuntu työpöytä</span>
      </div>
        
        <a href="#img14" class="light-btn btn-next">next</a>
    </div>

    <!-- 14. --> 
    <a href="#img14">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/dev-player-5.jpg">
    </a>
    <!-- lightbox container hidden with CSS & match the images id -->
    <div class="lightbox" id="img14">
        <a href="#img13" class="light-btn btn-prev">prev</a>
          <a href="#_" class="btn-close">X</a>
            <img src="../images/tyoharjoittelu_kuvat/kansio/dev-player-5.jpg">

      <!-- Suurennetun kuvan pieni otsikko/kuvaus -->
      <div id="selostus1">
        <span class="third strike">USB tikku ja ladataan Ubuntu järjestelmä</span>
      </div>
        
        <a href="#img15" class="light-btn btn-next">next</a>
    </div>

    <!-- 15. --> 
    <a href="#img15">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/dev-player-6.jpg">
    </a>
    <!-- lightbox container hidden with CSS & match the images id -->
    <div class="lightbox" id="img15">
        <a href="#img14" class="light-btn btn-prev">prev</a>
          <a href="#_" class="btn-close">X</a>
            <img src="../images/tyoharjoittelu_kuvat/kansio/dev-player-6.jpg">

      <!-- Suurennetun kuvan pieni otsikko/kuvaus -->
      <div id="selostus1">
        <span class="third strike">Playerin kokoonpanno elektroniikkan osat</span>
      </div>
        
        <a href="#img16" class="light-btn btn-next">next</a>
    </div>

    <!-- 16. --> 
    <a href="#img16">
      <img class="thumb" src="../images/tyoharjoittelu_kuvat/kansio/dev-player-7.jpg">
    </a>
    <!-- lightbox container hidden with CSS & match the images id -->
    <div class="lightbox" id="img16">
        <a href="#img15" class="light-btn btn-prev">prev</a>
          <a href="#_" class="btn-close">X</a>
            <img src="../images/tyoharjoittelu_kuvat/kansio/dev-player-7.jpg">

      <!-- Suurennetun kuvan pieni otsikko/kuvaus -->
      <div id="selostus1">
        <span class="third strike">Laiteen asetukset ja käyttöliittymät</span>
      </div>
        
        <a href="#img1" class="light-btn btn-next">next</a>
    </div>

    <!-- Dev ubuntu Linux START HERE-->
    <!-- 17. -->

